
/* Colores más fuertes para prioridad (toda la fila) */
/* .prioridad-baja-row { background-color: #00bcd4 !important; color: #000 !important; } */
.prioridad-media-row { background-color: #ffe082 !important; color: #000 !important; }
.prioridad-alta-row { background-color: #ff8a80 !important; color: #000 !important; }

.prioridad-alta {
    color: #d32f2f !important; /* Color más oscuro */
    font-weight: bold;
}

.prioridad-media {
    color: #ff9800 !important; /* Color más oscuro */
    font-weight: bold;
}

.option-prioridad-baja {
    color: #00bcd4 !important; /* Color más oscuro */
}
.option-prioridad-media {
    color: #ff9800 !important; /* Color más oscuro */
}
.option-prioridad-alta {
    color: #d32f2f !important; /* Color más oscuro */
}

/* Colores para estado (más intensos) */
.estado-pendiente { color: #e65100 !important; }
.estado-en_progreso { color: #388e3c !important; }
.estado-completada { color: #1b5e20 !important; }
.estado-cancelada { color: #b71c1c !important; }

.estado-cancelada-tr {
    background-color: #aaa !important; /* Fondo claro para cancelada */
}

.estado-completada-tr {
    background-color: #c8e6c9 !important; /* Fondo claro para completada */
}

.option-pendiente {
    color: #e65100 !important; /* Color más oscuro */
}
.option-en_progreso {
    color: #388e3c !important; /* Color más oscuro */
}
.option-completada {
    color: #1b5e20 !important; /* Color más oscuro */
}
.option-cancelada {
    color: #b71c1c !important; /* Color más oscuro */
}

.select-estado {
    border: 1px solid #ccc;
    font-size: 0.875rem; /* Tamaño de fuente más pequeño */
    background-color: #f5f5f5; /* Fondo claro */
    font-weight: bold;
}

.select-prioridad-media {
    font-size: 0.875rem; /* Tamaño de fuente más pequeño */
    background-color: #f5f5f5; /* Fondo claro */
    font-weight: bold;
    color: #ff9800 !important; /* Color de texto más oscuro */
}

.select-prioridad-alta {
    font-size: 0.875rem; /* Tamaño de fuente más pequeño */
    background-color: #f5f5f5; /* Fondo claro */
    font-weight: bold;
    color: #d32f2f !important; /* Color de texto más oscuro */
}

.select-enfoque {
    color: #000 !important;
    font-size: 0.875rem; /* Tamaño de fuente más pequeño */
    font-weight: bold;
}